<h1 class="text-center">Category : <%= @category.name %> </h1>
<% if logged_in_admin? %>
<div class="row text-center">
<span class="badge"><%= link_to "Edit Category Name", edit_category_path(@category) %> </span>
</div>
<% end %>

<%= render 'articles/listing' %>